[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/janus-plugins/a.vim"]
	path = vim/janus-plugins/a.vim
	url = https://github.com/vim-scripts/a.vim
[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "fonts/awesome-terminal-fonts"]
	path = fonts/awesome-terminal-fonts
	url = https://github.com/gabrielelana/awesome-terminal-fonts.git
[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "vim/janus-plugins/table-mode"]
	path = vim/janus-plugins/table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule "vim/janus-plugins/vim-notes"]
	path = vim/janus-plugins/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "vim/janus-plugins/vim-misc"]
	path = vim/janus-plugins/vim-misc
	url = https://github.com/xolox/vim-misc.git
