[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/janus-plugins/a.vim"]
	path = vim/janus-plugins/a.vim
	url = https://github.com/vim-scripts/a.vim
[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen.git
